* {
  font-family: Verdana;
  text-align: center;
}

body {
  background-color: black;
}
h1 {
  font-size: 50px;
  color: white;
  text-align: center;
}
h2 {
  font-size: 42px;
  font-weight: 300;
  color: white;

}
p.frog {
  font-size: 21px;
  color: grey;
}
.downld a {
  font-weight: 16px;
  color: aquamarine;
}


.copyr {
  font-size: 21px;
  text-align: right;
  color: grey;
}
